@import url(../../global/global.css);
/* ↓ Inicio na linha 34 <section class=inicio) ↓ */
.velhomundo {
  display: flex;
  margin-bottom: 1rem;
}
.sobrevelhomundo {
  padding-right: 1rem;
  text-align: justify;
  width: 70%;
}
.sobrevelhomundo > h2 {
  text-transform: capitalize;
}
.velhomundo img {
  border-radius: 1rem;
  margin: auto;
  width: 30%;
  height: 310px;
}
.novomundo {
  display: flex;
  margin-bottom: 1rem;
}
.sobrenovomundo {
  padding-left: 1rem;
  text-align: justify;
  width: 70%;
}
.sobrenovomundo > h2 {
  text-transform: capitalize;
  text-align: right;
}
.novomundo .imgdesk {
  border-radius: 1rem;
  margin: auto;
  width: 30%;
  height: 310px;
}
.imgmobile {
  display: none;
}
@media (max-width: 600px) {
  main {
    max-width: 600px;
    min-width: 420px;
  }
  .velhomundo {
    display: grid;
  }
  .sobrevelhomundo > h2 {
    text-transform: capitalize;
    text-align: center;
  }
  .velhomundo .sobrevelhomundo {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0;
  }
  .velhomundo img {
    padding: 0;
    margin: 0 auto;
    width: 90%;
    height: auto;
  }

  .novomundo {
    display: grid;
  }
  .sobrenovomundo > h2 {
    text-transform: capitalize;
    text-align: center;
  }
  .novomundo .sobrenovomundo {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0;
  }
  .novomundo .imgmobile {
    display: flex;
    border-radius: 1rem;
    padding: 0;
    margin: 0 auto;
    width: 90%;
    height: auto;
  }
  .imgdesk {
    display: none;
  }
}
