* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  /* O caminho para a sua imagem */
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../../images/global/Gerador\ de\ imagens\ bg.png");

  /* Faz a imagem cobrir todo o espaço disponível sem distorcer */
  background-size: cover;

  /* Evita que a imagem se repita (efeito azulejo) */
  background-repeat: no-repeat;

  /* Centraliza a imagem na tela */
  background-position: center center;

  /* (Opcional) Mantém a imagem fixa enquanto a página rola */
  background-attachment: fixed;

  /* (Opcional) Cor de fundo de segurança caso a imagem não carregue */
  background-color: #333;
  min-height: 100vh; /* Garante altura total */
}
.gerador-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#promptInput {
  width: 300px;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #2c2c2c;
  border-radius: 5px;
}
#downloadBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  border: none;
}
#downloadBtn:hover {
  background-color: #0056b3;
  cursor: pointer;
}
#gerarBtn:hover {
  background-color: #0056b3;
  cursor: pointer;
}
#gerarBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  border: none;
}
#promptInput:focus {
  outline: none;
  border-color: #007bff;
}
#promptInput {
    width: 450px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #2c2c2c;
    border-radius: 999px;
}
.gerador-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imagem-gerada {
  margin-top: 20px;
  width: 500px;
  height: 500px;
  border: 2px solid #2c2c2c;
  border-radius: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto
}