* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
html {
  height: 100%;
}
body {
  min-height: 100%; /* Garante que o body tenha no mínimo a altura da tela */
  margin: 0;
  display: flex; /* Transforma o body em um container flex */
  flex-direction: column;
}
main {
  max-width: 1000px;
  min-width: 720px;
  margin: 0 auto;
  flex-grow: 1;
  text-align: center;
}

/* ↓ Inicio na inha 19, cabeçalho e navbar ↓ */
header {
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 4px hsla(0, 0%, 20%, 0.16);
  margin-bottom: 1rem;
}

header > #navimg {
  border-radius: 9999px;
  height: 5rem;
  border: 2px solid;
}
nav > ul > li {
  text-decoration: none;
  display: inline-block;
  padding: 0rem 0.2rem 0rem 0.2rem;
}
nav a {
  text-decoration: none;
}

footer {
  display: block;
  text-align: center;
}