@import url(/RPG-WEB/assets/css/global/global.css);

body {
  /* O caminho para a sua imagem */
  background-image:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../../../assets/images/global/Gemini_Generated_Image_mhfuh2mhfuh2mhfu.png");

  /* Faz a imagem cobrir todo o espaço disponível sem distorcer */
  background-size: cover;

  /* Evita que a imagem se repita (efeito azulejo) */
  background-repeat: no-repeat;

  /* Centraliza a imagem na tela */
  background-position: center center;

  /* (Opcional) Mantém a imagem fixa enquanto a página rola */
  background-attachment: fixed;

  /* (Opcional) Cor de fundo de segurança caso a imagem não carregue */
  background-color: #333;
  min-height: 100vh; /* Garante altura total */
}
#damage-calc-sect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#battle-board{
    display: flex;
    gap: 10px;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.char-card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    padding: 0.5rem;
    border: 1px solid #007bff;
}