@import url(../../css/global/global.css);

body {
  /* O caminho para a sua imagem */
  background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)), url("../../images/global/danocalc.png");

  /* Faz a imagem cobrir todo o espaço disponível sem distorcer */
  background-size: cover;

  /* Evita que a imagem se repita (efeito azulejo) */
  background-repeat: no-repeat;

  /* Centraliza a imagem na tela */
  background-position: center center;

  /* (Opcional) Mantém a imagem fixa enquanto a página rola */
  background-attachment: fixed;

  /* (Opcional) Cor de fundo de segurança caso a imagem não carregue */
  background-color: #333;
  min-height: 100vh; /* Garante altura total */
}
#damage-calc-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#nome,
#total-life,
#damage-taken,
#target {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 999px;
  border: 1px solid #ccc;
}
#submit {
  width: 60%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 1rem;
}
#rolar-dano {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-size: 16px;
}
#battle-board {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.char-card {
  width: 45%;
  display: flex;
  font-size: 0.8rem;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
  border: 1px solid #007bff;
}
@media (max-width: 768px) {

}