@import url(../../global/global.css);
.history {
  height: fit-content;
  grid-template-columns: 60% 40%;
  display: grid;
  margin-bottom: 1rem;
}
.history .gridimg{
  margin: auto 0;
}
.soloimg{
  border-radius: 1rem;
  width: 100%;
}
.gridimg img{
  border-radius: 1rem;
  width: 100%;
}
.gridfullimg img{
  width: 90%;
 }
.gridtext{
  margin: 0 1rem 0 1rem;
  text-align: justify;
}





.text-to-image {
  padding-right: 1rem;
  width: 60%;
  text-align: justify;
}
.image-to-text{
  padding-right: 1rem;
  width: 60%;
  text-align: justify;
}


@media (max-width: 600px) {
  main {
    max-width: 600px;
    min-width: 420px;
  }
  .history {
    display: grid;
  }
  .history h2 {
    text-align: center;
  }
  .history .trollhistory {
    text-align: justify;
    width: 95%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 1rem;
  }
  .history img {
      padding: 0;
      margin: 0 auto;
      width: 90%;
      height: auto;
    }
  }
}
