@import url(../../global/global.css);
.story_sect {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}
.story_sect .imgdesk {
  width: 40%;
  border-radius: 1rem;
  box-shadow: 0 2px 4px hsla(0, 0%, 20%, 0.16);
}
.story_content_mobile {
  display: none;
}

.story_content_imgright {
  padding-right: 1rem;
  width: 60%;
  text-align: justify;
}
.story_content_imgright h2 {
  text-align: left;
}
.story_content_imgleft {
  padding-left: 1rem;
  width: 60%;
  text-align: justify;
}
.story_content_imgleft h2 {
  text-align: right;
}
.imgmobile {
  display: none;
}
.img_sect img {
  width: 80%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px hsla(0, 0%, 20%, 0.16);
}

@media (max-width: 600px) {
  main {
    max-width: 600px;
    min-width: 420px;
  }
  .story_content_imgright,
  .story_content_imgleft,
  .imgdesk {
    display: none;
  }
  .story_sect {
    display: grid;
  }
  .story_sect .imgmobile {
    display: block;
    width: 90%;
    border-radius: 1rem;
    box-shadow: 0 2px 4px hsla(0, 0%, 20%, 0.16);
    margin: auto;
  }
  .img_sect img {
    width: 90%;
  }
  .story_content_mobile {
    display: block;
    width: 95%;
    text-align: justify;
    margin: auto;
  }
  .story_content_mobile h2 {
    text-align: center;
  }
}
