@import url(../../global/global.css);
.carousel-wrapper {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
  position: relative;
}
.carousel {
  display: flex;
  overflow-x: auto; /* Habilita a rolagem horizontal */
  scroll-snap-type: x mandatory; /* Força o "snap" em cada item */
  -webkit-overflow-scrolling: touch; /* Melhora a fluidez em iOS */
  scrollbar-width: none; /* Oculta a barra de rolagem (Firefox) */
  border-radius: 12px;
}
.carousel-item {
  flex: 0 0 100%; /* Cada item ocupa 100% da largura */
  scroll-snap-align: center; /* Centraliza o item no "snap" */
  padding: 0.5rem;
  box-sizing: border-box; /* Garante que o padding não afete a largura total */
  text-align: center;
  /* Usamos IDs para a navegação com os links */
}
.carousel-item .imgdesk {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  max-height: 450px; /* Define uma altura máxima para as imagens */
}
.imgmobile {
  display: none;
}
.carousel-item p {
  height: 200px;
  width: 600px;
  text-align: justify;
  margin: 1rem auto 0 auto;
  font-size: 1.3rem;
  color: #555;
  line-height: 1.8;
  overflow-y: scroll;
  scrollbar-width: none;
}
.carousel-nav {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.nav-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #c5c5c5;
  transition: background-color 0.3s ease;
}
@media (max-width: 600px) {
  main {
    max-width: 600px;
    min-width: 420px;
  }
  .carousel-wrapper {
    margin: 0 auto;
    max-width: 420px;
    width: 90%;
    position: relative;
  }
  .carousel-item p {
    height: 120px;
    width: 100%;
    text-align: justify;
    margin: 1rem auto 0 auto;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    overflow-y: scroll;
  }
  .carousel-item .imgmobile {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    max-height: 450px; /* Define uma altura máxima para as imagens */
  }
  .imgdesk {
    display: none;
  }

  .carousel-nav {
    display: none;
  }
}
