* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}

nav {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar-links img {
  height: 70px;
  width: auto;
  margin-right: 20px;
  border-radius: 20%;
}
.navbar-links {
  align-items: center;
  justify-content: center;
  gap: 20px;
  display: flex;
}
.navbar-links > a {
  text-decoration: none;
  color: black;
}
main {
  margin: 20px auto;
  width: 70%;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.815);
}
.hero-bg {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0.3;
}
.welcome-section {
  text-align: center;
  margin-top: 50px;
}

.latest-updates {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.latest-updates h2 {
  margin-bottom: 20px;
  text-align: center;
}
.updates-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.update-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  margin-bottom: 15px;
}
.update-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 calc(33% - 20px);
}
