* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
html {
  height: 100%;
}
body {
  min-height: 100%; /* Garante que o body tenha no mínimo a altura da tela */
  margin: 0;
  display: flex; /* Transforma o body em um container flex */
  flex-direction: column;
}
main {
  max-width: 1100px;
  min-width: 720px;
  margin: 0 auto;
  flex-grow: 1;
  text-align: center;
}

/* ↓ Inicio na inha 19, cabeçalho e navbar ↓ */
header {
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 4px hsla(0, 0%, 20%, 0.16);
  margin-bottom: 1rem;
}

header > img {
  border-radius: 9999px;
  height: 5rem;
  border: 2px solid;
}
nav > ul > li {
  text-decoration: none;
  display: inline-block;
  padding: 0rem 0.2rem 0rem 0.2rem;
}
nav a {
  text-decoration: none;
}
/* ↓ Inicio na linha 34 <section class=inicio) ↓ */
.velhomundo {
  display: flex;
  margin-bottom: 1rem;
}
.sobrevelhomundo {
  padding-right: 1rem;
  text-align: justify;
  width: 70%;
}
.sobrevelhomundo > h2 {
  text-transform: capitalize;
}
.velhomundo img {
  border-radius: 1rem;
  margin: auto;
  width: 30%;
  height: 310px;
}
.novomundo {
  display: flex;
  margin-bottom: 1rem;
}
.sobrenovomundo {
  padding-left: 1rem;
  text-align: justify;
  width: 70%;
}
.sobrenovomundo > h2 {
  text-transform: capitalize;
  text-align: right;
}
.novomundo .imgdesk{
  border-radius: 1rem;
  margin: auto;
  width: 30%;
  height: 310px;
}
.imgmobile{
    display: none;
}

footer {
  text-align: center;
}

@media (max-width: 600px) {
  main {
    max-width: 600px;
    min-width: 420px;
  }
  .velhomundo {
    display: grid;
  }
  .velhomundo .sobrevelhomundo {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0;
  }
  .velhomundo img {
    padding: 0;
    margin: 0 auto;
    width: 90%;
    height: auto;
  }

  .novomundo {
    display: grid;
  }
  .novomundo .sobrenovomundo {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0;
  }
  .novomundo .imgmobile {
    display: flex;
    border-radius: 1rem;
    padding: 0;
    margin: 0 auto;
    width: 90%;
    height: auto;
  }
  .imgdesk{
    display: none;
  }
}
